Django
djangorestframework_simplejwt
djangorestframework
django-cors-headers
django-redis
django-celery-beat
django-celery-results
requests
celery
pyyaml
pyjwt
playwright
channels
channels-redis
langgraph
langchain-core